{% extends 'admin/layout.twig' %}

{% block content %}

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="col-md-12 col-xs-12">
    <h3 style="text-align: right">Hi {{ user.first_name }}!</h3>
    <h5 style="text-align: right"><a href="{{ path('admin_logout') }}">Logout</a></h5>
</div>
{% endif %}

<h3>This is the adminpage of the customer</h3>

{% for website in websites %}
    {{ website.domain }}
{% endfor %}

{% endblock %}
