<header class="stiky-header">
    <div class="container group">
        <a class="logo" href="/"><img src="/img/logo.png" alt="App-zero"/></a>
        <a class="logo-mobile" href="/"><img src="/img/logo.png" alt="App-zero"/></a>
        <div class="navi-toggle group">
            <span class="dot"></span><span class="line"></span>
            <span class="dot"></span><span class="line"></span>
            <span class="dot"></span><span class="line"></span>
        </div>
        <nav class="main-navi">
            <ul>
                <li ></li>
                <li ></li>
            </ul>
        </nav>
    </div>
</header>
