<!DOCTYPE html>
<html>
    <head>
        <title>Aggiungi un sito</title>
    </head>
    <body>
        <form action="/admin/site/create" method="POST">
            Dominio:<input name='domain' type='text'><br />
            <input type="submit" value="Aggiungi sito">
        </form>
    </body>
</html>
