/* less
@font-paragraphs: Helvetica, Arial, sans-serif;
@font-titles: Helvetica, Arial, sans-serif;
@font-logo: Helvetica, Arial, sans-serif;
@color-main: #888;
@color-background: #eee;
@color-text: #000;
*/

@charset "UTF-8";
/* LESS Document */
/* BASIC TAGS
-------------------------------------------------- */
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.8em;
  transition: all 0.4s ease;
  background-color: #eeeeee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}
h1 {
  font-size: 4.2em;
}
h2 {
  font-size: 2.8em;
}
h3 {
  font-size: 2.5em;
  font-weight: 600;
}
h4 {
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: 600;
}
h5 {
  font-size: 1.8em;
  line-height: 1.3em;
}
h6 {
  font-size: 1.5em;
}
p {
  font-size: 1.1em;
  line-height: 1.8em;
  color: #000000;
  font-weight: 300;
}
header {
  border-bottom: 1px solid #bbbbbb;
}
footer {
  padding: 40px 0;
  background: #000;
}
/* LINKS
-------------------------------------------------- */
.btn {
  background: #888888;
  border: none;
  color: #eeeeee;
  margin-top: 20px;
  text-shadow: none;
  transition: .4s all;
  padding: 12px 20px;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  background: #d4d4d4;
  color: #eeeeee;
  transition: .4s all;
}
/* NAVBAR
-------------------------------------------------- */
nav {
  background: #eeeeee !important;
  overflow: hidden;
  height: auto;
  z-index: 999999;
  width: 100%;
  margin: 0;
  padding: 0.4em 0 0.8em 0;
  max-height: 130px;
  min-height: 130px;
  border-bottom: 1px solid #bbbbbb;
  border-radius: 0px;
  font-weight: 300;
}
nav a {
  color: #000000;
  font-size: 16px;
  transition: . opacity .4s all;
  padding-top: 45px !important;
}
nav.invColors {
    background: #888 !important;
}
nav.invColors a {
    color: #eeeeee;
    background: #888 !important;
}
}
nav a:hover {
  background: #eeeeee !important;
  color: #d4d4d4;
  text-decoration: none;
  transition: opacity .4s all;
  border-bottom: 2px solid #d4d4d4;
}
.active a {
  color: #d4d4d4;
}
.navbar,
.navbar-header {
  background: none;
  margin-bottom: 0;
}
#logo {
    div {
        margin-top: 1.1em;
        font-family: @font-logo;
        font-size: 2.1em;
    }
    img {
        min-height: 85px;
        max-height: 130px;
    }
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
/* RECURRENT CLASSES
-------------------------------------------------- */
section * {
  background-color: #eeeeee;
}
section img {
  width: 100% !important;
}
.open {
  padding: 60px 0 !important;
}
.col-md-12 {
  padding-left: 30px;
}
.fa {
  color: #d4d4d4;
  line-height: 1.2em;
}
.fa-10x {
  font-size: 10em;
  padding-top: 1em;
}
.bg-section {
  background: #e1e1e1;
}
.contacts {
  background: #e1e1e1;
}
.form-control {
  height: auto;
  padding: 10px 15px;
  background: #eeeeee;
  border-radius: 0px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #d4d4d4;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border-bottom: #d4d4d4;
}
/* SPOT E TITOLO PAGINA
-------------------------------------------------- */
.jumbotron {
  max-height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.jumbotron img {
  margin: 0;
  width: 100%;
}
.main_spot {
  padding: 40px 0;
}
.main_spot h1 {
  margin: -10px 0 20px 0;
  font-weight: 300;
}
.main_spot h1,
.main_spot h2,
.main_spot h3,
.main_spot h4,
.main_spot h5,
.main_spot h6,
.main_spot p {
  color: #eeeeee;
}
.main_spot a {
  color: #d4d4d4;
  transition: .4s all;
}
.main_spot a:hover {
  color: #eeeeee;
  transition: .4s all;
  text-decoration: none;
  text-decoration: underline;
}
.bg-main {
  background: #888888;
}
.page_title h1 {
  padding: 10px 0 30px 0;
  font-weight: 300;
  text-align: center;
  color: #eeeeee;
}
/* SERVICES
-------------------------------------------------- */
.service h5 {
  text-align: center;
}
.staff img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.box {
  float: left;
  height: 200px;
  width: 90%;
  text-align: center;
  background: #e1e1e1;
  padding-top: 30%;
}
/* FOOTER
-------------------------------------------------- */
footer p {
  font-size: 0.9em;
  text-align: center;
  color: #bccfe1;
}
footer a {
  font-weight: bold;
  color: #bccfe1;
  transition: .4s all;
}
footer a:hover {
  color: #deeff3;
  transition: .4s all;
}
.copyright {
  background: none;
  padding-top: 15px;
}
.copyright p {
  color: #eeeeee;
}
/* CAROUSEL
-------------------------------------------------- */
.carousel {
  min-height: 600px;
  height: auto;
  overflow: hidden;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  min-height: 600px;
  height: auto;
  overflow: hidden;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}
.carousel-control {
  color: #888888;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  top: 20%;
  font-size: 60px;
}
.carousel-control.left:hover,
.carousel-control.right:hover,
.carousel-control .glyphicon-chevron-left:hover,
.carousel-control .glyphicon-chevron-right:hover,
.carousel-control .icon-next:hover,
.carousel-control .icon-prev:hover {
  color: #d4d4d4;
}
/* SPECIAL CONTENT
-------------------------------------------------- */
.valori .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.valori .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.fat-divider {
  margin: 80px 0;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 992px) {
  .valori-heading {
    margin-top: 120px;
  }
}
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    border-radius: 04px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .valori-heading {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 90%;
  }
  .col-md-12 {
    padding-left: 15px;
  }
  .main_spot .col-md-6 {
    padding-left: 0px;
  }
  .fa-10x {
    padding-top: 0;
  }
  .inbox {
    display: none;
  }
  #logo img {
    max-width: 240px !important;
  }
}
