
.side-navi ul li.current a {
  -webkit-box-shadow: 0 0 0 2px #d8e2ec;
  -moz-box-shadow: 0 0 0 2px #d8e2ec;
  box-shadow: 0 0 0 2px #d8e2ec;
}

.jumbotron {
  background-color: #d8e2ec;
}

.gallery li.gall-expanded > a::after {
  border-bottom-color: #d8e2ec;
}

.gall-expander {
  background: #d8e2ec;
}

.pricing-plan.highlited .body {
  background-color: #d8e2ec;
}

.hero {
  background-color: #2e2d7e;
}

.hero-slider .slide p {
  color: #fff;
}

.page-block.color {
  background-color: #d8e2ec;
}

.social-networks a:hover {
  color: #d8e2ec;
}

.footer {
  background-color: #2e2d7e;
  color: #ffffff;
}

.coming-soon header {
  background-color: #d8e2ec;
}

.middle-block {
  background-color: #d8e2ec;
}

.stiky-header {
  border-bottom-color: #d8e2ec;
}

.main-navi ul li:hover a {
  color: #d8e2ec;
}

.main-navi ul li.active a {
  color: #2e2d7e;
  border-top-color: #2e2d7e;
}

@media screen and (max-width: 991px) {
  .main-navi.open {
    border-bottom-color: #d8e2ec;
  }

  .main-navi ul li a:hover {
    color: #d8e2ec;
  }

  .main-navi ul li.active a {
    color: #d8e2ec;
    border-left-color: #d8e2ec;
  }
}
