<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" ><!--<![endif]-->
<html prefix="og: http://ogp.me/ns#">
    <head>
        <title>Primi sulle Mappe</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url" content="http://primisullemappe.it">
        <meta property="og:image" content="http://primisullemappe.it/img/logo.png">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Primi sulle Mappe">
        <meta property="og:description" content="Primi sulle Mappe si occupa di indicizzare professionisti ed esercizi commerciali sulle mappe dei motori di ricerca">
        <link rel="icon" href="http://primisullemappe.it/img/logo.ico" type="image/x-icon" />
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!-- respond.js per IE8 -->
        <!--[if lt IE 9]>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet/less" type="text/x-less" href="css/style.css">
        <script src="js/less.js" type="text/javascript"></script>
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/script.js"></script>
        <script src="js/modernizr.custom.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
          <nav class="navbar">
            <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                <a href="#"><img src="img/logo_home.png" /></a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="staff.html">Lo staff</a></li>
                  <li class="active"><a href="valori.html">I valori</a></li>
                  <li><a href="gallery.html">Galleria</a></li>
                  <li><a href="social.html">Social</a></li>
                  <li><a href="blog.html">Blog</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
        
        <div class="page_title bg-main">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h1>I nostri valori</h1>
                </div>
              </div>
            </div>
        </div>
        
        <!-- <div class="main_small bg-main-small"></div> -->
        
        <div class="container open">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                  <h5>È importante avere valori solidi, per trasmettere un messaggio positivo ai propri clienti. Di seguito elenchiamo i nostri valori, che come La Mia Farmacia promuoviamo: </h5>
              </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-3"><div class="box"><h6>Trasparenza della vetreria sotto casa</h6></div></div>
                <div class="col-md-3"><div class="box"><h6>Eleganza</h6></div></div>
                <div class="col-md-3"><div class="box"><h6>Intelligenza</h6></div></div>
                <div class="col-md-3"><div class="box"><h6>Intransigenza</h6></div></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3"><div class="box"><h6>Qualità</h6></div></div>
                <div class="col-md-3"><div class="box"><h6>Puntualità</h6></div></div>
            </div>
        
        </div> 
        
        <div class="container valori">

            <div class="row">
                <div class="col-lg-4">
                    <img class="img-circle" src="img/spot.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Menu Ristorante</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <!--<p> <a class="btn btn-default" href="#" role="button">View details &raquo;</a> </p>-->
                    <hr />
                    <p>
                        <ul style="text-align:left">
                            <li>Trasparenza
                                <ul>
                                    <li>Trasparenza 1</li>
                                    <li>Trasparenza 2</li>
                                    <li>Trasparenza 3</li>
                                </ul>
                            </li>
                            <li>Eleganza</li>
                            <li>Professionalità</li>
                            <li>Intelligenza</li>
                            <li>Intransigenza</li>
                            <li>Qualità</li>
                            <li>Cose</li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-4">
                    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h2>Menu Pizzeria</h2>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h2>Menu Bar</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <hr class="fat-divider">

            <div class="row valori">
                <div class="col-md-5">
                    <h2>Il nostro menu <span class="text-muted">Ristorante</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-7">
                    <img class="img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" width="700">
                </div>
            </div>

            <hr class="fat-divider">

            <div class="row valori">
                <div class="col-md-7 col-md-push-5">
                    <h2>Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="fat-divider">

            <div class="row valori">
                <div class="col-md-7">
                    <h2>And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                    <img class="img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="fat-divider">
            
        </div>
                    
        <div class="open contacts">
          <div class="container">
            <div class="row">
              <div class="col-md-4"><i class="fa fa-envelope fa-10x"></i></div>
              <div class="col-md-4">
                  <h3>Contattaci</h3>
                  <br />
                  <form>
                    <div class="form-group">
                      <input id="nome" type="text" placeholder="Nome" class="form-control" onclick="this.value='';">
                    </div>
                    <div class="form-group">
                      <input id="email" type="email" placeholder="Email" class="form-control" onclick="this.value='';">
                    </div>
                    <div class="form-group">
                      <input id="telefono" type="text" placeholder="Telefono" class="form-control" onclick="this.value='';">
                    </div>
                    <div class="form-group">
                      <input id="luogo" type="text" placeholder="Milano" class="form-control" onclick="this.value='';">
                    </div>
                    <div class="form-group">
                      <textarea id="commenti" rows="10" placeholder="Commenti/domande" class="form-control" onclick="this.value='';"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Invia</button>
                  </form>
              </div>
              <div class="col-md-4 inbox"><i class="fa fa-inbox fa-10x pull-right"></i></div>
            </div>
          </div>
        </div>    
        
        <footer>
            <div class="col-md-12 copyright"><p>Copyright © Instilla Srl. Tutti i diritti riservati.</p></div>
            <div class="container">
                <div class="row">
                  <div class="col-md-12"><p><a href="http://instilla.it">Instilla</a> è una giovane azienda tecnologica che si occupa di visibilità online e valori digitale per professionisti e piccole e medie imprese.</p></div>
                </div>
            </div>
        </footer>
            
            
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>