<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <title>Error 404</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-language" content="it">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="http://instilla.it/img/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" type="image/png" href="http://instilla.it/img/favicon.png">
        <meta name="description" content="Error 404 - page not found">
        <meta name="author" content="Instilla Srl">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,300,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" ></script>
        <script src="/js/detectOldBrowser.js" ></script>
        <script src="/js/modernizr.custom.js" ></script>
        <script src="/js/smoothscroll.js" ></script>
        <script src="/js/smoothInPageScroll.js" ></script>
        <!--[if !IE ]> -->
        <link rel="stylesheet/less" type="text/x-less" href="/css/style.css?{{random()}}" data-global-vars='{
            "color-main": "#bccfe1",
            "color-antimain": "#312b39",
            "color-text": "#312b39",
            "color-background": "#fff",
            "font-logo": "Lato, sans-serif",
            "font-titles": "Lato, sans-serif",
            "font-paragraphs": "Lato, sans-serif",
            "font-navbar": "Lato, sans-serif"
        }'>
        <!-- <![endif]-->
        <!--[if lt IE 9]>
            <style>
                .container, footer > div, .main_spot > div {
                    max-width: 800px;
                    margin: auto;
                }
                .container, footer > div {
                    width:85%;
                }
            </style>
        <![endif]-->
        <script src="/js/less.min.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                        </button>
                        <div id="logo">
                            <a href="http://instilla.it">
                                <img src="https://s3.eu-central-1.amazonaws.com/app-zero-storage/websites/instilla.it/logo.png"/>
                            </a>
                        </div>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="#">Error 404</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div class="row">
            	<div class="col-md-2"></div>
                    <div class="paragraph col-md-8">
                        <br/><br/><br/><br/>
                        <h4>404 - La pagina richiesta non è stata trovata.</h4>
                        <br/>
                        <h6 style="color: #aaa">404 - Page requested not found.</h6>
						<br/><br/><br/><br/>
                        <a href="/">Torna alla home</a>
                        <br/><br/><br/><br/><br/><br/>
                    </div>
            	</div>
        	</div>
    	</div>
        <footer>
            <div class="col-md-12 copyright"><p>Copyright © Instilla Srl. Tutti i diritti riservati.</p></div>
            <div class="container">
                <div class="row">
                  <div class="col-md-12"><p><a href="http://cresceredigitale.it">Crescere Digitale</a> è la soluzione di <a href="http://instilla.it">Instilla</a> per la visibilità online e il marketing digitale di professionisti e PMI.</p></div>
                </div>
            </div>
        </footer>
    </body>
</html>