<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>
          &copy; 2015 Instilla Srl. P.IVA: IT08961440966
        </p>
      </div>
    </div>
  </div>
</footer>
